<template>
    <div class="containerCreate">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="">

                    <div class="">
                        Digite a descrição da enquete: 
                        <input 
                            v-model="form.poll_description" 
                            type="text" 
                            value="" 
                        />
                    </div>

                    <div class="divContentOptions">
                        <div v-for="(item, index) in form.options" :key="item.id" class="divOptions">
                            <label class="labelText">Resposta {{index+1}}:</label>
                            <input v-model="item.description" type="text" class="text">
                            <button
                                title="Remover Reposta"
                                class="buttonRemove"
                                @click="removeOptions(index)">
                                x
                            </button>
                        </div>
                    </div>

                    <div class="divButtonAdd">
                        <button type="button" @click="addOption">Adicionar Resposta</button>
                    </div>

                    <div v-if="statusSave" class="statusSuccess">
                        Enquete salva com sucesso!
                    </div>

                    <div class="divButtonSave">
                        <button type="button " @click="savePoll">Salvar Enquete</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                form: {
                    poll_description: '',
                    options: [{description: ''}, {description: ''}],
                },
                statusSave: false,
            }
        },
        mounted() {
            console.log('CreatePollComponent mounted.')
        },
        methods: {
            removeOptions: function (index) {
                this.form.options.splice(index, 1);
            },
            addOption: function () {
                this.form.options.push({description: ''});
            },
            savePoll: async function () {
                try {
                    this.statusSave = false

                    if(!this.form.poll_description) {
                        alert('Preencha a descrição da enquete!')
                        return
                    }

                    let isInvalidForm = false
                    let options = []
                    for (const item of this.form.options) {
                        if(!item.description) {
                            isInvalidForm = true
                            break;
                        }
                        options.push(item.description)
                    }
                    if(isInvalidForm) {
                        alert('Não podem existir respostas vazias!')
                        return
                    }

                    let poll = await axios.post('/api/poll', {poll_description: this.form.poll_description, options});
                    if(poll.status === 201) {
                        this.statusSave = true
                        this.form.options = [{description: ''}, {description: ''}]
                        this.form.poll_description = ''
                        setTimeout(function(){ 
                            this.statusSave = false 
                        }.bind(this), 3000);
                    } else {
                        this.statusSave = false
                    }
                } catch (error) {
                    console.error("Create Poll Error response:");
                    console.error(error.response.data);    // ***
                    console.error(error.response.status);  // ***
                    alert('Houve algum erro!');
                }
            },
        },
    }
</script>

<style lang="scss">

.statusSuccess {
    margin-top: 50px;
    text-align: center;
    color: green;
    font-weight: bold;
}

.divButtonAdd {
    margin-top: 20px;
    button {
        background-color: #607D8B; 
        border: none;
        border-radius: 4px;
        color: white;
        padding: 6px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
    }
}

.divButtonSave {
    margin-top: 50px;
    text-align: right;
    button {
        background-color: #4CAF50;
        border: none;
        border-radius: 4px;
        color: white;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
}

.buttonRemove {
    background-color: #E53935;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.divContentOptions {
    margin-top: 10px;
    .divOptions {
        padding: 2px;
    }
}

.containerCreate {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}

</style>