<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="">
                    <div class="">
                        Digite o id da enquete: 
                        <input 
                            v-model="pollElement" 
                            type="text" 
                            value="" 
                        />
                        <button @click="searchPoll" class="buttonSearchPoll">Buscar enquete</button>
                    </div>

                    <div v-if="error.pollGeneral" class="errorGetPoll">
                        {{error.pollMessage}}
                    </div>
                    <div v-else-if="error.pollExists" class="errorGetPoll">
                        Essa enquete não existe!
                    </div>
                    <div v-else-if="error.pollNull" class="errorGetPoll">
                        Digite o id da enquete!
                    </div>
                    <div v-else-if="form.poll_description && pollElement">
                        <div v-if="!vote.status" class="divFormVote">
                            <p><b>ENQUETE: </b>{{form.poll_description}}</p>
                            <div v-for="option in form.options" :key="option.id">
                                <input :id="'option'+option.option_id" type="radio" class="radio" name="option" @click="clickOption(option.option_id)">
                                <label :for="'option'+option.option_id" class="labelRadio">{{option.option_description}}</label>
                            </div>
                            <div class="divButton">
                                <button type="button" @click="votePoll">Votar</button>
                            </div>
                        </div>
                        <div v-else class="divVoteSuccess">
                            <div class="voteSuccess">Voto registrado com sucesso!</div>
                            <div>
                                <p><b>ENQUETE: </b>{{form.poll_description}}</p>
                                <div><b>Resultado: {{views}} visualizações</b></div>
                                <div v-for="option in options" :key="option.id" class="optionResults">
                                    {{option.option_description}}: {{option.qty}} voto (s)
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                error: {
                    pollMessage: '',
                    pollGeneral: false,
                    pollExists: false,
                    pollNull: false,
                },
                form: {
                    poll_description: '',
                    options: [],
                    optionId: null,
                },
                vote: {
                    status: false,
                    data: [],
                },
                pollElement: '',
                poll: [],
                options: [],
                views: 0,
            }
        },
        mounted() {
            console.log('GetPollComponent mounted.')
        },
        methods: {
            votePoll: async function () {
                try {
                    if(!this.form.optionId) {
                        alert('Selecione uma opção na enquete!')
                        return
                    }

                    this.vote.status = false
                    let vote = await axios.post('/api/poll/'+this.pollElement+'/vote', {'option_id': this.form.optionId});

                    let stats = await axios.get('/api/poll/'+this.pollElement+'/stats');
                    this.views = stats.data.views

                    this.options = []
                    for (const element in stats.data.votes) {
                        let aux = {qty: stats.data.votes[element].qty, 
                        option_description: this.form.options[element].option_description}
                        this.options.push(aux);
                    }
                    this.vote.status = vote.data.status
                } catch (error) {
                    console.error("Vote Error response:");
                    console.error(error.response.data);    // ***
                    console.error(error.response.status);  // ***
                    alert('Houve algum erro!');
                }
            },
            clickOption: function (value) {
                console.log('clickOption value: ', value)
                this.form.optionId = value
            },
            searchPoll: async function () {
                this.error.pollExists = this.error.pollGeneral = false;
                this.vote.status = false

                if(!this.pollElement) {
                    this.error.pollNull = true;
                    return
                }
                this.error.pollNull = false;

                if(isNaN(this.pollElement)) {
                    alert('Digite um número válido!')
                    return
                }

                try {
                    let poll = await axios.get('/api/poll/'+this.pollElement);
                    this.error.pollExists = false;
                    this.form = poll.data
                } catch(error) {
                    console.error("Error response:");
                    console.error(error.response.data);    // ***
                    console.error(error.response.status);  // ***
                    if(error.response.status === 404) {
                        this.error.pollExists = true;
                    } else {
                        this.error.pollGeneral = true;
                        this.error.pollMessage = error.message
                    }
                }
            },

        },
    }
</script>

<style lang="scss">

button, .labelRadio, .radio {
    cursor: pointer;
}

.errorGetPoll {
    margin-top: 50px;
    border-radius: 4px;
    border: 1px solid #F44336;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 8px;
    color: #F44336;
    font-weight: bold;
    font-size: 16px;
}

.buttonSearchPoll {
    background-color: #607D8B; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}


.divFormVote {
    margin-top: 50px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 8px;
    .divButton {
        margin-top: 20px;
        button {
            background-color: #4CAF50;
            border: none;
            border-radius: 4px;
            color: white;
            padding: 8px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    }
}

.divVoteSuccess {
    margin-top: 50px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 8px;
    .voteSuccess {
        color: green;
        font-weight: bold;
    }
    .optionResults {
        border-radius: 4px;
        border: 1px solid #ddd;
        padding: 2px;
        margin-top: 4px;
    }
}


</style>