<template>
    <div class="container">
        <div class="divMenu">
            <div :class="{'menu': true, 'activeMenu': styleGetPoll}" @click="styleGetPoll = true">Consultar Enquete</div>
            <div :class="{'menu': true, 'activeMenu': !styleGetPoll}" @click="styleGetPoll = false">Cadastrar Nova Enquete</div>
        </div>
        <div class="divContent">
            <div v-show="styleGetPoll" class="contentGetPoll">
                <get-poll-component></get-poll-component>
            </div>
            <div v-show="!styleGetPoll" class="contentCreatePoll">
                <create-poll-component></create-poll-component>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                styleGetPoll: true,
            }
        },
        mounted() {
            console.log('PollComponent mounted.')
        },
    }
</script>

<style lang="scss">
.divContent {
    display: flex;
    justify-content: center;
    align-items: center;
    .contentGetPoll, .contentCreatePoll {
        margin-top: 50px;
    }
}
.divMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    .menu {
        font-size: 22px;
        background-color: #03A9F4;
        color: white;
        border: 1px solid white;
        padding: 4px;
        cursor: pointer;
    }
    .activeMenu {
        font-size: 22px;
        background-color: #01579B;
        color: white;
        border: 1px solid white;
        padding: 4px;
        cursor: pointer;
    }
}

</style>